.at-button {
	z-index: 10000000;
	position: fixed;
	right: 24px;
	bottom: 24px;
	background: #FFF;
	width: 48px;
	height: 48px;
	padding: 12px;
	border-radius: 100%;
	box-sizing: border-box;
	color: #666;
	-webkit-animation: at-ripple 0.6s linear infinite;
			animation: at-ripple 0.6s linear infinite;
}
.at-button:hover i {
	-webkit-transform: rotate(135deg);
			transform: rotate(135deg);
}
.at-button i {
	-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg);
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

@-webkit-keyframes at-ripple {
	0% {
		box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 0 rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1);
	}
	100% {
		box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1), 0 0 0 20px rgba(102, 102, 102, 0);
	}
}

@keyframes at-ripple {
	0% {
		box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 0 rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1);
	}
	100% {
		box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1), 0 0 0 5px rgba(102, 102, 102, 0.1), 0 0 0 10px rgba(102, 102, 102, 0.1), 0 0 0 20px rgba(102, 102, 102, 0);
	}
}

body {
	padding-top: 100px;
}