p {
	font-size: 100%;
}

h1, h2, h3, h4{
    color: #0d4c60;
	font-weight: normal;
	line-height: 1.5em;
	margin: 0 0 .5em 0;
}
a{
	color: black;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: underline; }

/* you can structure your code's white space so that it is as readable for when you come back in the future or for other people to read and edit quickly */

body{
    font-family: roboto; line-height: 1.2em; width: 100%; margin: 0; background: #eee;
}
/* you can put your code all in one line like above */
#page{ margin: 20px; }

/* or on different lines like below */
#logo{
	width: 100%;
	margin-top: 10px;
	text-align: center;
	font-family: roboto;
	display: inline-block;
	color: #0000CD;
}
/* but try and be as concise as possible */
#nav{
	
	display: inline-block;

	
	

}
#chin{
	
	display: inline-block;
	margin-left:700px;
	
}
#in{
		display: inline-block;
		margin-left:600px;
	
}
	

#content{
	margin: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
}
#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}

/* multiple styles seperated by a , */
#content,
ul li a{ box-shadow: 0px 1px 1px #999; }

#butt{	
	margin-left:300px;
	position:relative;
	font-size:27px;
	height:50px;
	background-color:#4CE027;
	color:white;
	border-radius:5px;
}

#content{
	height: 90%;
}